/* Paleta de colores */
:root {
  --main-color: #006aff;
  --secundary-color: #eaff00;
  --secundary-color-2: #ff1500;
}
@font-face {
  font-family: "yanone";
  src: url("/assets/fonts/YanoneKaffeesatz-VariableFont_wght.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "roboto_c";
  src: url("/assets/fonts/RobotoCondensed-Light.ttf");
  font-style: normal;
  font-weight: normal;
}
/* Estilos estandares */
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  overflow-x: hidden;
}
img {
  width: 100%;
}
.title {
  font-size: 30px;
  text-align: center;
  color: var(--secundary-color-2);
}
.subtitle {
  font-family: "yanone", sans-serif;
  font-size: 25px;
  text-align: center;
  color: #000;
}
.subtitle-post {
  text-align: left;
}
.text {
  font-family: "roboto_c", serif;
  font-size: 18px;
}
.not-space {
  margin: 0px;
  padding: 0px;
}
.link {
  background-color: var(--secundary-color);
  color: #000;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
}
.bold {
  font-weight: bold;
  font-style: italic;
}
.float-right {
  float: right;
  display: block;
  width: 50%;
  margin-left: 3px;
}
.float-left {
  float: left;
  display: block;
  width: 50%;
  margin-right: 3px;
}
/* Publicaciones */
.main {
  padding: 20px;
}
.card-title {
  color: var(--secundary-color-2);
}
.container-img {
  position: relative;
  display: block;
  width: 100%;
  height: 193px;
  overflow: hidden;
}
.align-center {
  text-align: center;
}
/* Tarjetas de publicación */
.card {
  height: 193px;
  border-radius: 10px;
}
.img-post {
  object-fit: cover;
  height: 100%;
  transition: 0.3s;
}
.card-body {
  height: auto;
}
.card-text {
  height: 72px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.logo-nav {
  width: 50px;
  height: 50px;
}
.navbar {
  font-family: "yanone", monospace;
  background-color: var(--main-color);
  color: #fff;
}
.header {
  padding: 0;
}
.header-sticky {
  position: sticky;
  top: 0;
  z-index: 5;
}
.btn-search {
  background-color: #ccc;
  color: #000;
}
.aside {
  padding: 18px;
}
.footer {
  background-color: var(--secundary-color-2);
  color: #fff;
  text-align: center;
  padding: 20px;
}
.social-m {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.social-media {
  width: 70px;
  height: 70px;
}
/* Formulario de contacto */
.form-contact {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}
.form-contact .input-contact,
.form-contact .textarea-contact {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #000;
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0px 10px 0px;
}
.section-contact {
  padding: 0px 10px;
}
.icon-contact {
  width: 50px;
}
.submit-contact {
  background-color: var(--secundary-color);
  color: #000;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}
#widget-time {
  height: 50px;
  font-family: "yanone", sans-serif;
  font-size: 22px;
  color: #ccc;
  align-items: center;
  overflow: hidden;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.day {
  background-image: url(/assets/images/dia.webp);
}
.night {
  background-image: url(/assets/images/noche.webp);
}
.time-hours {
  display: flex;
  justify-content: right;
}
/* Post */
pre {
  display: block;
  background-color: #ccc;
  border: 5px solid #000;
  border-radius: 10px;
  margin: 0px auto;
  padding: 0px 10px;
  font-family: monospace;
  color: var(--secundary-color-2);
  width: 90%;
}
tr td {
  padding: 5px;
  border: 5px solid #fff;
  background-color: #ccc;
}
.title-table {
  text-align: center;
  background-color: var(--secundary-color);
  color: var(--secundary-color-2);
}
/* Efecto hover */
@media (hover: hover) {
  .img-post:hover {
    transform: scale(1.05);
  }
}
